.carouselCards {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .carouselCard {
    background-color: white;
    max-width: 308px;
    height: 425px;
    display: flex !important;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 #33333350;
    margin: 10px auto;
    margin-bottom: 40px;

    img {
      border-radius: 15px 15px 0 0;
      width: 100%;
      height: auto;
    }

    .content {
      display: flex !important;
      flex-direction: column;
      height: max-content;
      flex-grow: 1;
      justify-content: space-between;
      padding: 20px 15px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .carouselCards {
    .carouselCard {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .carouselCards {
    // max-width: 90%;
    gap: 10%;
    .carouselCard {
      scale: .9;
      // max-width: 250px;
    }
  }
}

@media screen and (max-width: 768px) {
  .carouselCards {
    .carouselCard {
      max-width: 260px;
    }
  }
}

/* Tablets */
@media screen and (max-width: 640px) {
    .carouselCards {
    .carouselCard {
      max-width: 300px;
    }
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .carouselCards {
    .carouselCard {
      scale: unset;
      
    }
  }
}
