.faqContainer {
  width: 50vw;
  margin: 0 auto;
  .item {
    margin: 1rem 0;
    outline: 1px solid #99999950;
  }
}

/* Large Desktops */
@media (min-width: 1280px) {
}

/* Medium Desktops */
@media screen and (max-width: 1024px) {
}

/* Small Desktops */
@media screen and (max-width: 768px) {
  .faqContainer {
    width: 75vw;
  }
}

/* Tablets */
@media screen and (max-width: 640px) {
}

/* Mobile */
@media screen and (max-width: 480px) {
    .faqContainer {
        width: 80vw;
     scale: .9;
        
    }
}
