.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

  .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    align-items: center;
  }
}