.carouselCards {
  width: 90%;
  padding: 20px;
  margin: 0 auto;

  .carouselCard {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid #77777750;
    width: 37vw !important;
    padding: 1.5rem 4.5rem;
    gap: 1rem;
    margin: 0 auto;
  }
}

/* Large Desktops */
@media (min-width: 1280px) {
}

/* Medium Desktops */
@media screen and (max-width: 1024px) {
}

/* Small Desktops */
@media screen and (max-width: 768px) {
}

/* Tablets */
@media screen and (max-width: 640px) {
  .carouselCards {
    .carouselCard {
      width: 70vw !important;
    }
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .carouselCards {
  .carouselCard {
    padding: 1rem;
    gap: .5rem;
    h6{
      scale: .9 ;
    }
  }
}
}
