.headingContainer{
  // margin-top: 150px;
  
  .heading1 {
    color: #001d6c;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
  .heading2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 46.2px;
    margin-bottom: 50px;
  }
}