// $mainPurple: #7848f4;
// $secondaryPurple: #f0effe;

// @mixin flexCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// @mixin fakeOutline {
//   outline: 2px solid red;
// }

// .App {
//   font-family: Montserrat;
//   text-align: center;
//   color: white;
//   padding-bottom: 100px;

//   .HeroSection {
//     // height: calc(100vh - 56px);
//     height: calc(100vh - 70px);
//     width: 100vw;
//     background-image: linear-gradient(#000000, #7848f450),
//       url("./assets/images/HeroSectionBackground.png");
//     background-size: 100% 100%;
//     @include flexCenter();
//     flex-direction: column;

//     .heroHeading {
//       text-align: center;
//       font-weight: 900;
//       letter-spacing: -0.02em;
//       line-height: 85px;
//       font-size: 60px;
//       font-size: 90px;
//       line-height: 140px;
//     }
//     .heroSubHeading {
//       font-weight: 600;
//       font-size: 45px;
//       letter-spacing: -0.02em;
//     }
//     p {
//       // font-size: 25px;
//       font-size: 36px;
//       font-weight: 500;
//     }
//     .signUpbtn {
//       // padding: 10px 25px;
//       border-radius: 5px;
//       // margin-top: 20px;
//       border: none;
//       color: $mainPurple;
//       height: 70px;
//       width: 275px;
//       font-size: 22px;
//     }
//     .img {
//       // height: 30px;
//       // width: 60px;
//     }
//     .leftsideimg {
//       left: 0.5%;
//     }
//     .rightsideimg {
//       right: 0.5%;
//     }
//     .rightsideimg,
//     .leftsideimg {
//       position: absolute;
//       filter: blur(3px);
//       bottom: 1%;
//     }
//     .searchForm {
//       background-color: #57007f;
//       // padding: 13px;
//       padding: 20px;
//       border-radius: 10px;
//       margin: 50px 0;
//       height: 95px;
//       width: 730px;

//       .searchBtn {
//         background-color: #161c2d;
//         border: none;
//         margin-left: 8px;
//         padding-left: 25px;
//         padding-right: 25px;
//         color: white;
//       }
//     }
//   }

//   .bonusBox {
//     background-color: $secondaryPurple;
//     width: 100vw;
//     padding: 60px 50px;
//     border-radius: 10px;
//     text-align: left;
//     position: relative;
//     height: max-content;
//     box-shadow: 0 2px 8px 0 #ccc;
//     margin-bottom: 350px;
//     .content{
//       width: 50%;
//     }
//     .datacodeCertificate{
//       position: absolute;
//       right: -7%;
//       top: 10%;
//     }
//     .giftBox{
//       position: absolute;
//       right: 25%;
//       top: 130%;
//     }
//   }

//   .space{
//     padding-top: 120px;
//   }

//   .learingObjective{
//     padding: 30px;
//     background-color: $secondaryPurple;
//     width: 100vw;
//   }

//   // .unlockPotential{
//   //   color: #001D6C;
//   //   font-size: 20px;
//   //   font-weight: 700;
//   //   line-height: 20px;
//   // }
//   // .bootcampHeading{
//   //   font-size: 42px;
//   //   font-weight: 700;
//   //   line-height: 46.2px;
//   //   margin-bottom: 50px;
//   // }

//   .languageBoxContainer{
//     justify-content: space-around;
//     .content{
//       width: 40%;
//       font-size: 20px;
//       display: flex;
//       flex-direction: column;
//       gap: 40px;
//     }
//   }

//   .bootcampsCarousel{
//     text-align: left !important;
//     padding: 30px;
//     padding-left: 5%;
//   }

//   .center {
//     width: 100vw;
//     @include flexCenter;
//     .navBootstrap {
//       gap: 30px;
//       border-bottom: 1px solid #333;
//       a {
//         color: grey;
//       }
//       .borderBottom,
//       a:hover {
//         border-bottom: 3px solid black;
//       }
//     }
//   }
// }

$mainPurple: #7848f4;
$secondaryPurple: #f0effe;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fakeOutline {
  outline: 2px solid red;
}

.App {
  font-family: Montserrat;
  text-align: center;
  color: white;
  padding-bottom: 100px;

  .HeroSection {
    height: calc(100vh - 50px);
    width: 100vw;
    background-image: linear-gradient(#000000, #7848f450),
      url("./assets/images/HeroSectionBackground.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heroHeading {
      text-align: center;
      font-weight: 900;
      letter-spacing: -0.02em;
      line-height: 1.2;
      // font-size: 4.5vw;
      font-size: 80px;
    }

    .heroSubHeading {
      // font-weight: 600;
      font-size: 2.75vw;
      letter-spacing: -0.02em;
    }

    p {
      font-size: 2vw;
      font-weight: 500;
    }

    .signUpbtn {
      // padding: 10px 25px;
      border-radius: 5px;
      // margin-top: 20px;
      border: none;
      color: $mainPurple;
      height: 50px;
      width: 245px;
      font-size: 20px;
    }

    .leftsideimg {
      left: -5%;
    }
    .rightsideimg {
      right: -5%;
    }
    .rightsideimg,
    .leftsideimg {
      scale: .75;
      z-index: 0;
      position: absolute;
      filter: blur(3px);
      bottom: -10%;
    }

    .searchForm {
      background-color: #57007f;
      padding: 1.25vw;
      border-radius: 10px;
      margin: 5vh 0;
      height: auto;
      width: 50vw;
      max-width: 730px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .searchBtn {
        background-color: #161c2d;
        border: none;
        margin-left: 8px;
        padding-left: 25px;
        padding-right: 25px;
        color: white;
      }
    }
  }

  .bonusBox {
    background-color: $secondaryPurple;
    width: 100vw;
    padding: 60px 50px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    height: max-content;
    box-shadow: 0 2px 8px 0 #ccc;
    margin-bottom: 350px;
    .content{
      width: 50%;
    }
    .datacodeCertificate{
      position: absolute;
      right: -7%;
      top: 10%;
    }
    .giftBox{
      position: absolute;
      right: 25%;
      top: 130%;
    }
  }

  .space {
    padding-top: 120px;
  }

  .learingObjective {
    padding: 30px;
    background-color: $secondaryPurple;
    width: 100vw;
  }

  // .unlockPotential{
  //   color: #001D6C;
  //   font-size: 20px;
  //   font-weight: 700;
  //   line-height: 20px;
  // }
  // .bootcampHeading{
  //   font-size: 42px;
  //   font-weight: 700;
  //   line-height: 46.2px;
  //   margin-bottom: 50px;
  // }

  .languageBoxContainer {
    justify-content: space-around;
    .content {
      width: 40%;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  .bootcampsCarousel {
    text-align: left !important;
    padding: 30px;
    padding-left: 5%;
  }

  .center {
    width: 100vw;
    @include flexCenter;
    .navBootstrap {
      gap: 30px;
      border-bottom: 1px solid #333;
      a {
        color: grey;
      }
      .borderBottom,
      a:hover {
        border-bottom: 3px solid black;
      }
    }
  }
}
