$mainPurple: #7848f4;
$secondaryPurple: #f0effe;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fakeOutline {
  outline: 2px solid red;
}

.App {
  font-family: Montserrat;
  text-align: center;
  color: white;
  padding-bottom: 100px;

  .HeroSection {
    height: calc(100vh - 50px);
    width: 100vw;
    background-image: linear-gradient(#000000, #7848f450),
      url("./assets/images/HeroSectionBackground.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heroHeading {
      text-align: center;
      font-weight: 900;
      letter-spacing: -0.02em;
      line-height: 1.2;
      font-size: 80px;
    }

    .heroSubHeading {
      font-size: 35px;
      letter-spacing: -0.02em;
    }

    .registrationPtag {
      font-size: 30px;
      font-weight: 500;
    }

    .arrowBtnContainer {
      transform: translate(-15%, 0);
    }

    .signUpbtn {
      border-radius: 5px;
      border: none;
      color: $mainPurple;
      height: 50px;
      width: 80vw;
      max-width: 245px;
      font-size: 20px;
      background-color: white;
    }

    .leftsideimg {
      left: -5%;
    }

    .rightsideimg {
      right: -5%;
    }

    .rightsideimg,
    .leftsideimg {
      scale: 0.75;
      z-index: 0;
      position: absolute;
      filter: blur(3px);
      bottom: -10%;
      opacity: 0.8;
    }

    .searchForm {
      background-color: #57007f;
      padding: 20px;
      border-radius: 10px;
      margin: 5vh 0;
      height: auto;
      width: 90vw;
      max-width: 730px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 2;
      gap: 10px;

      .searchBtn {
        background-color: #161c2d;
        border: 2px solid #161c2d;
        border: none;
        // margin-left: 8px;
        padding-left: 6vw;
        padding-right: 6vw;
        color: white;
      }
    }
  }

  .bonusBox {
    background-color: $secondaryPurple;
    width: 85vw;
    padding: 60px 50px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    height: max-content;
    box-shadow: 0 2px 8px 0 #ccc;
    margin-bottom: 350px;
    display: flex;
    justify-content: space-between;

    .images {
      position: relative;
      width: 49%;
    }
    .content {
      width: 50%;
    }
    .datacodeCertificate {
      position: absolute;
      right: -15%;
      top: 0%;
    }
    .giftBox {
      // width: 15vw;
      position: absolute;
      right: 280px;
      top: 160px;
    }
  }

  .space {
    padding-top: 120px;
  }

  .learingObjective {
    padding: 30px;
    background-color: $secondaryPurple;
    width: 100vw;
  }

  // .unlockPotential{
  //   color: #001D6C;
  //   font-size: 20px;
  //   font-weight: 700;
  //   line-height: 20px;
  // }
  // .bootcampHeading{
  //   font-size: 42px;
  //   font-weight: 700;
  //   line-height: 46.2px;
  //   margin-bottom: 50px;
  // }

  .languageBoxContainer {
    justify-content: space-around;
    .languageBoxes {
      width: 45vw;
    }
    .content {
      width: 40%;
      // font-size: 20px;
      font-size: 1.75vw;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .heading2 {
        font-size: 3vw;
      }
      .codeicon {
        width: 3.5vw;
      }
    }
  }

  .bootcampsCarousel {
    text-align: left !important;
    padding: 30px;
    padding-left: 5%;
  }

  .center {
    width: 100vw;
    @include flexCenter;
    .navBootstrap {
      gap: 30px;
      border-bottom: 1px solid #333;
      a {
        color: grey;
      }
      .borderBottom,
      a:hover {
        border-bottom: 3px solid black;
      }
    }
  }
}

/* Medium Desktops */
@media screen and (max-width: 1024px) {
  .App {
    .HeroSection {
      .heroHeading {
        font-size: 70px;
      }
      .heroSubHeading {
        font-size: 30px;
      }
      .rightsideimg {
        transform: translate(15%, 10%);
      }
      .leftsideimg {
        transform: translate(-15%, 10%);
      }
      .rightsideimg,
      .leftsideimg {
        scale: 0.6;
      }
    }
    .bonusBox {
      // scale: 0.9 !important;
      .images {
        scale: 0.9;
      }
    }
    .searchForm {
      scale: 0.85;
    }
    .registrationPtag {
      font-size: 28px !important;
    }
    .space {
      padding-top: 90px;
    }
    .arrowBtnContainer {
      transform: translate(-15%, -22.5%) !important;
      scale: 0.8;
    }
    .languageBoxContainer {
      .content {
        gap: 20px;
      }
    }
  }
}

/* Small Desktops */
@media screen and (max-width: 768px) {
  .App {
    .HeroSection {
      .heroHeading {
        font-size: 55px;
      }
      .heroSubHeading {
        font-size: 25px;
      }
    }
    .searchForm {
      scale: 0.75;
    }
    .registrationPtag {
      font-size: 25px !important;
    }
    .space {
      padding-top: 80px;
    }
    .arrowBtnContainer {
      transform: translate(-15%, -25%) !important;
      scale: 0.75;
    }
    .languageBoxContainer {
      .content {
        gap: 15px;
      }
    }
  }
}

/* Tablets */
@media screen and (max-width: 640px) {
  .App {
    .HeroSection {
      .heroHeading {
        font-size: 50px;
      }
      .heroSubHeading {
        font-size: 25px;
      }
      .rightsideimg,
      .leftsideimg {
        filter: blur(3px);
      }
    }
    .searchForm {
      scale: 0.75;
    }
    .registrationPtag {
      font-size: 25px !important;
    }
    .arrowBtnContainer {
      transform: translate(-15%, -37%) !important;
      scale: 0.7;
    }
    .space {
      padding-top: 60px;
    }
    .center {
      .navBootstrap {
        scale: 0.75;
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .App {
    .HeroSection {
      .heroHeading {
        font-size: 30px;
      }
      .heroSubHeading {
        font-size: 20px;
        width: 60vw;
      }
      .rightsideimg,
      .leftsideimg {
        display: none;
      }
    }
    .searchForm {
      flex-direction: column;
      gap: 10px;
      scale: 0.75;
      margin: 0 !important;
      padding: 15px !important;
      button {
        margin-left: 0 !important;
      }
    }
    .registrationPtag {
      font-size: 20px !important;
      width: 60vw;
    }
    .arrowBtnContainer {
      img {
        transform: rotate(50deg) translate(10px, -60px);
      }
      transform: translate(-20%, -35%) !important;
      scale: 0.65;
    }
    .space {
      padding-top: 40px;
    }
    .center {
      .navBootstrap {
        gap: 10px;
        scale: 0.65;
      }
    }
  .languageBoxContainer {
    justify-content: space-around;
    flex-direction: column;
    .languageBoxes {
      width: 75vw;
    }
    .content {
      width: 90%;
      font-size: 2.5vw;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .heading2 {
        font-size: 6vw;
      }
      .codeicon {
        width: 6.5vw;
      }
    }
  }
  }
}

/* Large Desktops */
@media (min-width: 1280px) {
}

/* Medium Desktops */
@media screen and (max-width: 1024px) {
}

/* Small Desktops */
@media screen and (max-width: 768px) {
}

/* Tablets */
@media screen and (max-width: 640px) {
}

/* Mobile */
@media screen and (max-width: 480px) {
}
